* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: rgb(20, 34, 125);

  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;

  background: url(./img/Lisa\ frank.jpg) center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pag {
  z-index: 6;
  width: 30%;
  height: 55%;

  /* filter: blur(40px) opacity(1); */

  /* From https://css.glass */
  background: rgba(54, 99, 235, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.1px);
  -webkit-backdrop-filter: blur(15.1px);
  border: 1px solid rgba(54, 99, 235, 0.27);
  /* 3663EB87 */
  box-shadow: 2px 2px 4px 4px;

  display: flex;
  justify-content: center;
}

.busca {
  position: relative;
  width: 200px;
}

.input-icon {
  /* background-repeat: no-repeat; */
  /* background-position: calc(100% - 10px) center;
  padding-right: 30px; espaço para o ícone */
  width: 100%;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.text .fa-location-dot {
  position: relative;
  /* padding: 0 15px; */
}
