* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("./img/Lisa\ frank.jpg") center / cover no-repeat;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#search {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 6px 12px;
}

#search input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  outline: none;
  color: #fff;
}

#search i {
  color: #fff;
}

#search button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.8s ease;
}

#search button:hover {
  transform: scale(1.1);
}

.weather_results {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  visibility: hidden;
  height: 0px;
}

.weather_results.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  height: auto;
}

.weather_results #title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 1px #fff;
}

.temp_img {
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 0, 1));
}

.temp_value {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

.temp_description {
  font-size: 500;
  text-transform: capitalize;
}

.other_infos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  color: #fff;
}

.other_infos .info {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  gap: 10px;
}

.other_infos .info h2 {
  font-size: 12px;
  font-weight: 600;
}

.other_infos .info i {
  text-align: center;
  font-size: 20px;
  width: 20%;
}

.temp_max_icon {
  color: #ff0000;
}

.temp_min_icon {
  color: #0284c7;
}

.humidity_icon {
  color: #0ea5e9;
}

.wind_icon {
  color: #7c3aed;
}

#alert p {
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

/* Para Chrome, Edge e outros navegadores baseados em WebKit */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

/* Para Firefox (embora ele geralmente não exiba o X) */
input[type="search"]::-moz-search-clear-button {
  display: none;
}
